@import "../../rh-sass/rh-sass";
@import "../../../themes/cp-theme/sass/colors";

/// ===========================================================================
/// Component Specific SASS Vars
/// ===========================================================================

// Todo: convert these also
$rh-cta__arrow-size:                        0.313em; // Was ~5px at 16px
$rh-cta__arrow--spacer:                     $rh-global--spacer--xxs;
$rh-cta--solid--BorderRadius:               5em !default; //$rh-global--border--BorderRadius !default;
$rh-cta--solid--BorderWidth:                $rh-global--border--BorderWidth;
$rh-cta--solid--padding-y:                  8px; //$rh-global--spacer--xs;
$rh-cta--solid--padding-x:                  32px; //$rh-global--spacer--lg;
$rh-cta--animation-timing:                  $rh-global--animation-timing;


// Default CTA colors
:host {
  --rh-cta--main:                     #{rh-var(--rh-theme--color--ui-link)};
  --rh-cta--main--hover:              #{rh-var(--rh-theme--color--ui-link--hover)};
  --rh-cta--main--focus:              #{rh-var(--rh-theme--color--ui-link--focus)};
  --rh-cta--main--visited:            #{rh-var(--rh-theme--color--ui-link--visited)};
  --rh-cta--aux:                      transparent;
  --rh-cta--aux--hover:               transparent;
}

/// ===========================================================================
/// DEFUALT CTAs
/// ===========================================================================
:host {
  display: inline-block;
  font-weight: bold;

  & ::slotted(a) {
    line-height: inherit;
    color: var(--rh-cta--main);

    &::after {
      display: block;
      margin-left: $rh-cta__arrow--spacer; // not themeable for now
      vertical-align: middle;
      @include rh-arrow(right, var(--rh-cta--main), $rh-cta__arrow-size, $rh-cta__arrow-size, true);
    }
  }

  //& ::slotted(a:visited) {
  //  color: var(--rh-cta--main--visited);
  //  &::after {
  //    @include rh-arrow-color(var(--rh-cta--main--visited));
  //  }
  //}

  & ::slotted(a:hover) {
    color: var(--rh-cta--main--hover);

    &::after {
      @include rh-arrow-color(var(--rh-cta--main--hover));
    }
  }

  & ::slotted(a:focus) {
    color: var(--rh-cta--main--focus);

    &::after {
      @include rh-arrow-color(var(--rh-cta--main--focus));
    }
  }
}


/// ===========================================================================
/// Styles for "Button" CTAs
/// ===========================================================================
:host([priority="primary"]) {
  --rh-cta--main:          #{rh-var(--rh-theme--color--ui-accent)};
  --rh-cta--main--visited: #{rh-var(--rh-theme--color--ui-accent)};
  --rh-cta--main--hover:   #{rh-var(--rh-theme--color--ui-accent--hover)};
  --rh-cta--main--focus:   #{rh-var(--rh-theme--color--ui-accent--hover)};
  --rh-cta--aux:           #{rh-var(--rh-theme--color--text--on-dark)};

  & ::slotted(a) {
    display: inline-block;
    padding: $rh-cta--solid--padding-y $rh-cta--solid--padding-x; // not themeable for now
    border-radius: $rh-cta--solid--BorderRadius; // not themeable for now
    border: $rh-cta--solid--BorderWidth solid transparent; // not themeable for now
    text-decoration: none;
    line-height: 1.2;

    border-color: var(--rh-cta--main);
    background:   var(--rh-cta--main);
    color:        var(--rh-cta--aux);

    &::after {
      display: none;
    }
  }

  & ::slotted(a:hover),
  & ::slotted(a:focus) { // Not sure we can lump these together
    border-color: var(--rh-cta--main--hover);
    background:   var(--rh-cta--main--hover);
    color:        var(--rh-cta--aux);
  }

  // & ::slotted(a:visited),   TBD

}

:host([priority="secondary"]) {
  --rh-cta--main:          #{rh-var(--rh-theme--color--ui-base)};
  --rh-cta--main--visited: #{rh-var(--rh-theme--color--ui-base--hover)};
  --rh-cta--main--focus:   #{rh-var(--rh-theme--color--ui-base--hover)};
  --rh-cta--main--hover:   #{rh-var(--rh-theme--color--ui-base--hover)};
  --rh-cta--aux:           #{rh-var(--rh-theme--color--surface--lightest)};
  --rh-cta--aux--hover:    #{rh-var(--rh-theme--color--surface--lightest)};

  & ::slotted(a) {
    display: inline-block;
    padding: $rh-cta--solid--padding-y $rh-cta--solid--padding-x; // not themeable for now
    border-radius: $rh-cta--solid--BorderRadius; // not themeable for now
    border: $rh-cta--solid--BorderWidth solid var(--rh-cta--main); // not themeable for now
    text-decoration: none;
    line-height: 1.2;

    border-color: var(--rh-cta--main);
    background:   var(--rh-cta--aux);
    color:        var(--rh-cta--main);

    &::after {
      display: none;
    }
  }

  & ::slotted(a:hover), // Not sure we can lump these together
  & ::slotted(a:focus) {
    border-color: var(--rh-cta--main--hover);
    background:   var(--rh-cta--main--hover);
    color:        var(--rh-cta--aux);
  }

  // & ::slotted(a:visited),   TBD
}





///// ===========================================================================
///// INVERSE  
///// ===========================================================================
:host([theme="inverse"]) {  
  --rh-cta--main:        #{rh-var(--rh-theme--color--ui-link--on-dark)};
  --rh-cta--main--hover: #{rh-var(--rh-theme--color--ui-link--on-dark--hover)};
  --rh-cta--aux:         #{rh-var(--rh-theme--color--ui-accent--text)};
  --rh-cta--aux--hover:  #{rh-var(--rh-theme--color--ui-accent--text--hover)};
}

:host([theme="inverse"][priority="primary"]) {
  --rh-cta--main:        #{rh-var(--rh-theme--color--ui-accent)};
  --rh-cta--main--hover: #{rh-var(--rh-theme--color--ui-accent--hover)};
  --rh-cta--aux:         #{rh-var(--rh-theme--color--ui-accent--text)};
  --rh-cta--aux--hover:  #{rh-var(--rh-theme--color--ui-accent--text--hover)};
}

:host([theme="inverse"][priority="secondary"]) {
  --rh-cta--main:        #{rh-var(--rh-theme--color--ui-base)};
  --rh-cta--main--hover: #{rh-var(--rh-theme--color--ui-base--hover)};
  --rh-cta--aux:         #{rh-var(--rh-theme--color--ui-base--text)};
  --rh-cta--aux--hover:  #{rh-var(--rh-theme--color--ui-base--text--hover)};
}


///// ===========================================================================
///// PALETTE OVERRIDE: BASE
///// ===========================================================================

:host([palette="base"]) {
  --rh-cta--main:        #{rh-var(--rh-theme--color--ui-base)} !important;
  --rh-cta--main--hover: #{rh-var(--rh-theme--color--ui-base--hover)} !important;
  --rh-cta--aux:         #{rh-var(--rh-theme--color--ui-base--text)} !important;
  --rh-cta--aux--hover:  #{rh-var(--rh-theme--color--ui-base--text--hover)} !important;
}


/// ===========================================================================
/// PALETTE OVERRIDE: COMPLEMENT
/// ===========================================================================

:host([palette="complement"]) {
  --rh-cta--main:        #{rh-var(--rh-theme--color--ui-complement)} !important;
  --rh-cta--main--hover: #{rh-var(--rh-theme--color--ui-complement--hover)} !important;
  --rh-cta--aux:         #{rh-var(--rh-theme--color--ui-complement--text)} !important;
  --rh-cta--aux--hover:  #{rh-var(--rh-theme--color--ui-complement--text--hover)} !important;
}


/// ===========================================================================
/// PALETTE OVERRIDE: ACCENT
/// ===========================================================================
:host([palette="accent"]) {
  --rh-cta--main:        #{rh-var(--rh-theme--color--ui-accent)} !important;
  --rh-cta--main--hover: #{rh-var(--rh-theme--color--ui-accent--hover)} !important;
  --rh-cta--aux:         #{rh-var(--rh-theme--color--ui-accent--text)} !important;
  --rh-cta--aux--hover:  #{rh-var(--rh-theme--color--ui-accent--text--hover)} !important;
}

